form {
    margin-top: 30px;
    text-align: center;
    
}

form input {
    margin-bottom: 10px;
}

form input[type="submit"] {
    margin-top: 10px;
}

form img {
    width: 200px;
    margin-bottom: 25px;
}

.card {
    margin-top: 30px;
    padding: 5px;
}

.textos {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.card a {
    margin-top: 5px;
}

.confirmacaoSucesso{
    margin-top: 10px;
}